*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    background-color: aquamarine;
    border: 1px solid black;
}
header img{
    width: 8rem;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li a{
    font-size: 2.5rem;
    margin: 0 1.8rem;
    text-decoration: none;
    color: black;
    font-weight: 900;
}